body {
    margin: 0%;
    padding: 0%;
    background: rgba(202, 88, 255, 0.315);
    font: normal 15pt arial;
}

header {
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 22pt;
}

section {
    background:url(imagens/431960_screenshots_20210217160348_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(2, 0, 0, 0.658);
    text-align: left;
    color: white;
}


footer {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    padding-top: 20px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}
input[type=number]{ 
    -moz-appearance: textfield;
    appearance: textfield;
    outline: none;
    border: none;
 }
 img {
   border-radius: 100px;
   width: 250px;
   height: 200px;
 }